{% extends "base.html" %}
{% block content%}

<div class="row type-page">
    {% for type in type%}
    <div class="col-md-4">
        <div class="card type-card">
            <a href="{% url 'propertylist' %}?type={{type.name}}">
                <img class="card-img-top type-img" src="{{ type.demoimage.url }}" alt="Card image cap">
            </a>
            <div class="card-body">
                <a href="{% url 'propertylist' %}?type={{type.name}}" class="type-link">
                    <h5 class="card-title">{{type.name}}</h5>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock%}