<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Scripts -->

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- Font Awesome -->
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <!-- Moment.js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
      integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA="
      crossorigin="anonymous"
    ></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
      integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
      integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4="
      crossorigin="anonymous"
    ></script>

    <!-- Add additional CSS and JS in static file -->
    {% load static %}
    <link href="{% static 'property/styles.css' %}" rel="stylesheet" />
    <!--<script type="text/javascript" src="{% static '/catalog/app.js' %}"></script>-->

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
      <div class="container-fluid footer">
        <div class="">
            <img src="{% static 'logo.jpeg' %}" class="footer-img" alt="Responsive image">
          </div>
          <div>
              <ul>
                  <a href="#"><li>Nairobi</li></a>
                  <li>Upcountry</li>
                  <li>Coast</li>
                  <li>Foreign</li>
              </ul>
          </div>
          <div>
              <ul>
                  <li><img src="{% static 'Facebook.png' %}" alt="Facebook" class="icons"/></li>
                  <li><img src="{% static 'Linkedin.png' %}" alt="Linkedin" class="icons"/></li>
                  <li><img src="{% static 'Twitter.png' %}" alt="Twitter" class="icons"/></li>
              </ul>
          </div>
          <div>
            <ul>
                <li><p>Privacy policy</p></li>
                <li><p>Terms of use</p></li>
            </ul>
        </div>
      </div>
    
  </body>
</html>
